@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.footer{
    width: 100%;
    bottom: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    $topcolor: #25292D;
    $bottomcolor: #212428;
    $linkhovercolor: #F2AA1F;
    .footerTop{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        background-color: $topcolor;
        height: 200px;
        .left{
            flex: 3;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            text-align: center;
            h3{
                color: white;
            }
            p{
                color: grey;
            }
        }
        .center{
            flex: 3;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            text-align: center;
            h3{
                color: white;
            }
            ul{
                display: flex;
                list-style: none;
                margin-right: 5%;
                li{
                    font-size: 1.5rem;
                    margin: 1rem;
                    color: grey;
                    .fab{
                        cursor: pointer;
                    }
                    .fab:hover{
                        opacity: 0.75;
                    }
                }
            }
        }
        .right{
            flex: 3;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            text-align: center;
            h3{
                color: white;
            }
            p{
                color: grey;
            }
        }
    }
    .footerBottom{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        background-color: $bottomcolor;
        .left{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                margin: 20px;
            }
            small{
                color: grey;
            }
        }
        .right{
            display: flex;
            justify-content: center;
            align-items: center;
            ul{
                list-style: none;
                text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;
                li{
                    margin: 0.5rem;
                    a{
                        color: grey;
                        text-decoration: none;
                    }
                    a:hover{
                        color: $linkhovercolor;
                    }
                    a:active{
                        color: $linkhovercolor;
                    }
                }
            }
        }
    }
}