@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.home .sliderText {
  position: absolute;
  bottom: 30%;
  left: 20%;
  margin-left: 0%;
  width: 50%;
  border-radius: 10px;
  background: none;
  color: #0E0E0E;
  padding: 10px;
  font-size: 6rem;
  text-align: left;
  opacity: 1;
  font-family: 'Quicksand', sans-serif;
}

.home .sliderText div {
  margin-top: -8%;
}

.home .carousel .slider img {
  width: 100%;
  height: 800px;
  border-radius: 0;
}

.home .carousel {
  width: 100%;
}

.home .leftarrow {
  position: absolute;
  z-index: 2;
  top: 45%;
  width: 30;
  height: 30;
  cursor: pointer;
  left: 15px;
  border: none;
  background: none;
  font-size: 2rem;
  color: #DF5200;
}

.home .leftarrow:hover {
  opacity: 0.8;
}

.home .rightarrow {
  position: absolute;
  z-index: 2;
  top: 45%;
  width: 30;
  height: 30;
  cursor: pointer;
  right: 15px;
  border: none;
  background: none;
  font-size: 2rem;
  color: #DF5200;
}

.home .rightarrow:hover {
  opacity: 0.8;
}

.home .indicators {
  background: none;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin: 0 5px;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  border-radius: 50%;
  border: 3px solid #DF5200;
}

.home .indicators:hover {
  background: #DF5200;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin: 0 5px;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  border-radius: 50%;
  border: 3px solid #DF5200;
}

.home .indicators-active {
  background: #DF5200;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin: 0 5px;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  border-radius: 50%;
  border: 3px solid #DF5200;
}

.home .prefaceStage {
  margin-left: 15%;
  margin-right: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 5%;
}

.home .prefaceStage .headerText {
  font-size: 3rem;
  font-family: 'Marck Script', cursive;
  font-weight: 500;
  color: #0E0E0E;
}

.home .prefaceStage .line {
  width: 40%;
  border: 1px solid #DF5200;
  margin-top: 2%;
  margin-bottom: 2%;
}

.home .prefaceStage p {
  color: #9FA1A3;
  font-size: 1.1rem;
}

.home .prefaceStage img {
  margin-top: 2%;
}

.home .mainMenuStage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 5%;
}

.home .mainMenuStage .left {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  margin-right: 2.5%;
}

.home .mainMenuStage .left img {
  width: 100%;
  height: auto;
  -webkit-clip-path: polygon(100% 0%, 0% 100%, 0% 0%);
          clip-path: polygon(100% 0%, 0% 100%, 0% 0%);
}

.home .mainMenuStage .right {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  margin-left: 2.5%;
}

.home .mainMenuStage .right h4 {
  font-size: 1.3rem;
}

.home .mainMenuStage .right .line {
  width: 100%;
  border: 1px solid #DF5200;
  margin-top: -1%;
  margin-bottom: 1%;
}

.home .mainMenuStage .right .menuContainer {
  margin-top: 3%;
  margin-bottom: 3%;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

.home .mainMenuStage .right .menuContainer .menuHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

.home .mainMenuStage .right .menuContainer .menuContent {
  font-size: 0.9rem;
  color: #BEBFC1;
  font-weight: 400;
}

.home .mainMenuStage2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 5%;
}

.home .mainMenuStage2 .left {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  margin-right: 2.5%;
}

.home .mainMenuStage2 .left h4 {
  font-size: 1.3rem;
}

.home .mainMenuStage2 .left .line {
  width: 100%;
  border: 1px solid #DF5200;
  margin-top: -1%;
  margin-bottom: 1%;
}

.home .mainMenuStage2 .left .menuContainer {
  margin-top: 3%;
  margin-bottom: 3%;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

.home .mainMenuStage2 .left .menuContainer .menuHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

.home .mainMenuStage2 .left .menuContainer .menuContent {
  font-size: 0.9rem;
  color: #BEBFC1;
  font-weight: 400;
}

.home .mainMenuStage2 .right {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  margin-left: 2.5%;
}

.home .mainMenuStage2 .right img {
  width: 100%;
  height: auto;
  -webkit-clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
}

.home .tripleImageStage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5%;
}

.home .tripleImageStage img {
  width: 30%;
  height: 500px;
  margin: 1%;
}

.home .menuSplitStage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
}

.home .menuSplitStage .left {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
}

.home .menuSplitStage .left h4 {
  font-size: 1.3rem;
}

.home .menuSplitStage .left .line {
  width: 100%;
  border: 1px solid #DF5200;
  margin-top: -1%;
  margin-bottom: 1%;
}

.home .menuSplitStage .left .menuContainer {
  margin-top: 3%;
  margin-bottom: 3%;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

.home .menuSplitStage .left .menuContainer .menuHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

.home .menuSplitStage .left .menuContainer .menuContent {
  font-size: 0.9rem;
  color: #BEBFC1;
  font-weight: 400;
}

.home .menuSplitStage .right {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  margin-left: 5%;
}

.home .menuSplitStage .right h4 {
  font-size: 1.3rem;
}

.home .menuSplitStage .right .line {
  width: 100%;
  border: 1px solid #DF5200;
  margin-top: -1%;
  margin-bottom: 1%;
}

.home .menuSplitStage .right .menuContainer {
  margin-top: 3%;
  margin-bottom: 3%;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

.home .menuSplitStage .right .menuContainer .menuHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

.home .menuSplitStage .right .menuContainer .menuContent {
  font-size: 0.9rem;
  color: #BEBFC1;
  font-weight: 400;
}

.home .buttonStage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5%;
}

.home .buttonStage button {
  background-color: #25292D;
  color: white;
  font-weight: bold;
  border: none;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.home .buttonStage button:hover {
  background-color: #DF5200;
  color: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 1920px) {
  .carousel .slider img {
    width: 100%;
    height: 1000px;
    border-radius: 0;
  }
  .sliderText {
    top: 20%;
    left: 20%;
  }
  .sliderText div {
    margin-bottom: 3%;
  }
}
/*# sourceMappingURL=home.css.map */