@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.home .sliderText {
  position: absolute;
  bottom: 20%;
  left: 20%;
  margin-left: 0%;
  width: 50%;
  border-radius: 10px;
  background: none;
  color: #25292D;
  padding: 10px;
  font-size: 6rem;
  text-align: left;
  opacity: 1;
  font-family: 'Quicksand', sans-serif;
}

.home .sliderText div {
  margin-top: -8%;
}

.home .sliderText .buttonStage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10%;
}

.home .sliderText .buttonStage button {
  width: 30%;
  height: 50px;
  font-size: 0.75rem;
  font-weight: normal;
  color: white;
  background: #F2B80E;
  border: #F2B80E;
  border-radius: 5px;
  font-weight: bold;
}

.home .sliderText .buttonStage button:hover {
  background: #25292D;
  color: white;
}

.home .carousel .slider img {
  width: 100%;
  height: 700px;
  border-radius: 0;
}

.home .carousel {
  width: 100%;
}

.home .leftarrow {
  position: absolute;
  z-index: 2;
  top: 45%;
  width: 30;
  height: 30;
  cursor: pointer;
  left: 15px;
  border: none;
  background: none;
  font-size: 2rem;
  color: #F2AA1F;
}

.home .leftarrow:hover {
  opacity: 0.8;
}

.home .rightarrow {
  position: absolute;
  z-index: 2;
  top: 45%;
  width: 30;
  height: 30;
  cursor: pointer;
  right: 15px;
  border: none;
  background: none;
  font-size: 2rem;
  color: #F2AA1F;
}

.home .rightarrow:hover {
  opacity: 0.8;
}

.home .indicators {
  background: none;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin: 0 5px;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  border-radius: 50%;
  border: 3px solid #F2AA1F;
}

.home .indicators:hover {
  background: #F2AA1F;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin: 0 5px;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  border-radius: 50%;
  border: 3px solid #F2AA1F;
}

.home .indicators-active {
  background: #F2AA1F;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin: 0 5px;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  border-radius: 50%;
  border: 3px solid #F2AA1F;
}

.home .prefaceStage {
  margin-left: 15%;
  margin-right: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.home .prefaceStage .headerContainer {
  width: 100%;
}

.home .prefaceStage .headerContainer .headerBack {
  color: #E9ECEE;
  font-size: 5rem;
  font-family: 'Marck Script', cursive;
  font-weight: bold;
}

.home .prefaceStage .headerContainer .headerFront {
  font-size: 3rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  margin-top: -8%;
}

.home .prefaceStage .line {
  width: 20%;
  border: 1px solid #F2B80E;
  margin-top: 2%;
  margin-bottom: 2%;
}

.home .prefaceStage p {
  color: #9FA1A3;
  font-size: 1.1rem;
}

.home .prefaceStage img {
  margin-top: 2%;
}

.home .mainMenuStage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 5%;
  margin-right: 5%;
}

.home .mainMenuStage .left {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
}

.home .mainMenuStage .left h4 {
  font-size: 1.3rem;
}

.home .mainMenuStage .left .line {
  width: 100%;
  border: 1px solid #F2B80E;
  margin-top: -1%;
  margin-bottom: 1%;
}

.home .mainMenuStage .left .menuContainer {
  margin-top: 3%;
  margin-bottom: 3%;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

.home .mainMenuStage .left .menuContainer .menuHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .mainMenuStage .left .menuContainer .menuContent {
  font-size: 0.9rem;
  color: #BEBFC1;
  font-weight: 400;
}

.home .mainMenuStage .right {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  margin-right: -3%;
  margin-left: 5%;
}

.home .mainMenuStage .right img {
  width: 100%;
  height: auto;
}

.home .mainMenuStage2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 5%;
  margin-right: 5%;
}

.home .mainMenuStage2 .left {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  margin-right: 5%;
}

.home .mainMenuStage2 .left img {
  width: 100%;
  height: auto;
}

.home .mainMenuStage2 .right {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
}

.home .mainMenuStage2 .right h4 {
  font-size: 1.3rem;
}

.home .mainMenuStage2 .right .line {
  width: 100%;
  border: 1px solid #F2B80E;
  margin-top: -1%;
  margin-bottom: 1%;
}

.home .mainMenuStage2 .right .menuContainer {
  margin-top: 3%;
  margin-bottom: 3%;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

.home .mainMenuStage2 .right .menuContainer .menuHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .mainMenuStage2 .right .menuContainer .menuContent {
  font-size: 0.9rem;
  color: #BEBFC1;
  font-weight: 400;
}

.home .tripleImageStage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.home .tripleImageStage img {
  width: 30%;
  margin: 1%;
}

.home .menuSplitStage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
}

.home .menuSplitStage .left {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
}

.home .menuSplitStage .left h4 {
  font-size: 1.3rem;
}

.home .menuSplitStage .left .line {
  width: 100%;
  border: 1px solid #F2B80E;
  margin-top: -1%;
  margin-bottom: 1%;
}

.home .menuSplitStage .left .menuContainer {
  margin-top: 3%;
  margin-bottom: 3%;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

.home .menuSplitStage .left .menuContainer .menuHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .menuSplitStage .left .menuContainer .menuContent {
  font-size: 0.9rem;
  color: #BEBFC1;
  font-weight: 400;
}

.home .menuSplitStage .right {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  margin-left: 5%;
}

.home .menuSplitStage .right h4 {
  font-size: 1.3rem;
}

.home .menuSplitStage .right .line {
  width: 100%;
  border: 1px solid #F2B80E;
  margin-top: -1%;
  margin-bottom: 1%;
}

.home .menuSplitStage .right .menuContainer {
  margin-top: 3%;
  margin-bottom: 3%;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

.home .menuSplitStage .right .menuContainer .menuHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .menuSplitStage .right .menuContainer .menuContent {
  font-size: 0.9rem;
  color: #BEBFC1;
  font-weight: 400;
}

.home .buttonStage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .buttonStage button {
  background-color: #25292D;
  color: white;
  font-weight: bold;
  border: none;
  width: 15%;
  height: 50px;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.home .buttonStage button:hover {
  background-color: #F2B80E;
  color: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.home .ourGalleryStage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.home .ourGalleryStage .headerContainer {
  width: 100%;
}

.home .ourGalleryStage .headerContainer .headerBack {
  color: #E9ECEE;
  font-size: 5rem;
  font-family: 'Marck Script', cursive;
  font-weight: bold;
}

.home .ourGalleryStage .headerContainer .headerFront {
  font-size: 3rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  margin-top: -5%;
}

.home .ourGalleryStage .line {
  width: 15%;
  border: 1px solid #F2B80E;
  margin-top: 2%;
  margin-bottom: 2%;
}

.home .ourGalleryStage .galleryStage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
}

.home .ourGalleryStage .galleryStage .left {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.home .ourGalleryStage .galleryStage .right {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  margin-left: 1%;
}

.home .ourGalleryStage .galleryStage img {
  width: 100%;
  margin-bottom: 2%;
}

.home .ourGalleryStage .galleryStage img:hover {
  opacity: 0.75;
  cursor: pointer;
}

@media screen and (min-width: 1366px) {
  .home .sliderText {
    bottom: 25%;
  }
  .home .sliderText div {
    margin-top: -5%;
  }
  .home .sliderText .buttonStage {
    margin-top: 5%;
  }
  .home .sliderText .buttonStage button {
    width: 30%;
  }
  .home .carousel .slider img {
    height: 900px;
  }
  .home .sliderText {
    position: absolute;
    bottom: 20%;
    left: 20%;
    margin-left: 0%;
    width: 50%;
    border-radius: 10px;
    background: none;
    color: #25292D;
    padding: 10px;
    font-size: 6rem;
    text-align: left;
    opacity: 1;
    font-family: 'Quicksand', sans-serif;
  }
  .home .sliderText div {
    margin-top: -8%;
  }
  .home .sliderText .buttonStage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10%;
  }
  .home .sliderText .buttonStage button {
    width: 30%;
    height: 50px;
    font-size: 0.75rem;
    font-weight: normal;
    color: white;
    background: #F2B80E;
    border: #F2B80E;
    border-radius: 5px;
    font-weight: bold;
  }
  .home .sliderText .buttonStage button:hover {
    background: #25292D;
    color: white;
  }
  .home .carousel .slider img {
    width: 100%;
    height: 700px;
    border-radius: 0;
  }
  .home .carousel {
    width: 100%;
  }
  .home .leftarrow {
    position: absolute;
    z-index: 2;
    top: 45%;
    width: 30;
    height: 30;
    cursor: pointer;
    left: 15px;
    border: none;
    background: none;
    font-size: 2rem;
    color: #F2AA1F;
  }
  .home .leftarrow:hover {
    opacity: 0.8;
  }
  .home .rightarrow {
    position: absolute;
    z-index: 2;
    top: 45%;
    width: 30;
    height: 30;
    cursor: pointer;
    right: 15px;
    border: none;
    background: none;
    font-size: 2rem;
    color: #F2AA1F;
  }
  .home .rightarrow:hover {
    opacity: 0.8;
  }
  .home .indicators {
    background: none;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin: 0 5px;
    -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
    border-radius: 50%;
    border: 3px solid #F2AA1F;
  }
  .home .indicators:hover {
    background: #F2AA1F;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin: 0 5px;
    -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
    border-radius: 50%;
    border: 3px solid #F2AA1F;
  }
  .home .indicators-active {
    background: #F2AA1F;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin: 0 5px;
    -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
    border-radius: 50%;
    border: 3px solid #F2AA1F;
  }
  .home .prefaceStage .headerContainer .headerFront {
    margin-top: -5%;
  }
  .home .mainMenuStage .right {
    text-align: center;
  }
  .home .mainMenuStage .right img {
    width: 70%;
  }
  .home .mainMenuStage2 .left {
    text-align: center;
  }
  .home .mainMenuStage2 .left img {
    width: 70%;
  }
  .home .ourGalleryStage .headerContainer .headerFront {
    margin-top: -3%;
  }
}

@media screen and (max-width: 1440px) {
  .home .prefaceStage .headerContainer .headerFront {
    margin-top: -8%;
  }
  .home .mainMenuStage .right {
    text-align: center;
  }
  .home .mainMenuStage .right img {
    width: 100%;
  }
  .home .mainMenuStage2 .left {
    text-align: center;
  }
  .home .mainMenuStage2 .left img {
    width: 100%;
  }
  .home .ourGalleryStage .headerContainer .headerFront {
    margin-top: -5%;
  }
}

@media screen and (max-width: 1024px) {
  .home .sliderText {
    bottom: 15%;
    left: 15%;
  }
  .home .sliderText div {
    margin-top: -10%;
  }
  .home .sliderText .buttonStage {
    margin-top: 10%;
  }
  .home .sliderText .buttonStage button {
    width: 35%;
  }
  .home .carousel .slider img {
    height: 600px;
  }
  .home .prefaceStage .headerContainer .headerFront {
    margin-top: -10%;
  }
  .home .mainMenuStage .right {
    text-align: center;
  }
  .home .mainMenuStage .right img {
    width: 100%;
    height: auto;
  }
  .home .mainMenuStage2 .left {
    text-align: center;
  }
  .home .mainMenuStage2 .left img {
    width: 100%;
    height: auto;
  }
  .home .ourGalleryStage .headerContainer .headerFront {
    margin-top: -6%;
  }
}

@media screen and (max-width: 768px) {
  .home .ourGalleryStage {
    margin-right: 5%;
    margin-left: 5%;
  }
}

@media screen and (max-width: 600px) {
  .home .sliderText {
    bottom: 7%;
    left: 15%;
  }
  .home .sliderText div {
    margin-top: -12%;
  }
  .home .sliderText .buttonStage {
    margin-top: 10%;
  }
  .home .sliderText .buttonStage button {
    width: 35%;
  }
  .home .carousel .slider img {
    height: 500px;
  }
  .home .leftarrow {
    top: 35%;
    font-size: 5rem;
    left: -5px;
  }
  .home .rightarrow {
    top: 35%;
    font-size: 5rem;
    right: -5px;
  }
}

@media screen and (max-width: 414px) {
  .home .sliderText {
    bottom: 4%;
    left: 15%;
  }
  .home .sliderText div {
    margin-top: -10%;
  }
  .home .sliderText .buttonStage {
    margin-top: 10%;
  }
  .home .sliderText .buttonStage button {
    width: 35%;
  }
  .home .carousel .slider img {
    height: 500px;
  }
}
/*# sourceMappingURL=home.css.map */